@charset "UTF-8";

// Flexbox 믹스인 정의
@mixin flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin background($image, $size) {
  background-size: $size;
  background-position: center;
  background-image: $image;
  background-repeat: no-repeat;
}

.header_wrap {
  position: relative;
  height: 360.74px;
  width: 100%;
}

.banner {
  height: 324px;
  width: 94.79166666667%; // 1820px;
  @include background(url("/image/image_03.png"), cover);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
} /*banner*/

header {
  width: 94.79166666667%; // 1820px
  height: 91.26px;
  margin: auto !important;

  .top {
    width: 94.50549450549%; // 1720px
    height: 91.26px;
    margin: auto;
    @include flex(space-between);

    .top_ul {
      float: left;
      width: 18.60465116279%;
      height: 30px;
      @include flex(unset);

      img {
        margin-right: 3.54838709677%;
      } /*img*/
    } /*top ul*/

    .member_ul {
      width: 18.60465116279%;
      float: right;
      height: 32px;
      margin-left: 3%;
      @include flex(space-between);

      li:nth-child(1) {
        @include flex(space-between);
        font-family: "Pretendard-Regular";
        font-size: 1rem;
        color: rgba(255, 255, 255, 1);
        letter-spacing: -2.299999952316284;
        min-width: 137px;
      } /* li:nth-child(1)*/

      li:nth-child(2) {
        @include flex(space-between);
        font-family: "Pretendard-Medium";
        font-size: 0.875em;
        color: rgb(255, 255, 255);
        opacity: 0.8000000119;
        width: 11.93548387097%;
        height: 100%;
        border-bottom: 1px solid white;
        opacity: 1;

        .select_over {
          width: 100%;
          height: 0;
          overflow: hidden;
          position: absolute;
          top: 120%;
          @include flex(space-between);
          flex-direction: column;
          border: none;
          background-color:white;

          span{
            width:84%;
            height:35px;
            display: block;
            margin:auto;
            @include flex(space-around);
            color:black;
          }
      }
      
      } /*li-nth-child(2)*/

      li:nth-child(3) {
        @include flex(space-around);
      } /*li-nth-child(3)*/
    } /*ul:nth-child(3)*/

    .gnb {
      width: 55.81395348837%;
      height: 96px;
      @include flex(unset);
      position: relative;

      .dropdown_nav {
        position: absolute;
        width: 92%;
        top: 86px;
        left: 50%;
        transform: translateX(-44%);
        /* display: flex; */
        align-items: center;
        justify-content: unset;
        z-index: 99;

        li:nth-child(2) {
          margin-top: 10px;
      }
      li:last-child {
          margin-bottom: 10px;
      }

        ul:nth-child(1){
          right: -2%; 
         
        }


        ul:nth-child(2) {
          right: -2%;
        
        }

        ul:nth-child(3) {
          right: -3%;
       
        }

        ul:nth-child(4) {
          right: -3%;
        }

        ul:nth-child(5) {
         
        }

        ul {
          width: 17%;
          height: 0px;
          background-color: #cf0032;
          margin: 1px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          position: relative;
          float: left;
          @include flex(space-around);
          flex-direction: column;
          font-family: "Pretendard-bold";
          overflow: hidden;
        

          img {
            position: absolute;
            /* transform: translateX(-52%); */
            top: -5px;
            left: 50%;
          }

          li {
            color: #fff !important;
            opacity: unset;
            font-size: 0.875em;
            width: 94%;
            text-align: center;
            @include flex(unset);
            text-align: left;
            margin: auto;
            height: 32px;
            border-radius: 4px;
            min-height: 32px;
         
            &:hover {
              background: #B01940;
              border-radius: 4px;
          }

          a{
            display: block;
            width: 75%;
            margin: auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-radius: 4px;
          }

            
          } /*li*/
        } /*ul*/
      } /*dropdown_nav*/

      .gnb_ul {
        width: 70.20833333333%;
        margin: auto;
        height: inherit;
        @include flex(space-between);

        li {
          @include flex(space-between);
          font-size: 1.25em;
          color: rgba(255, 255, 255, 1);
          opacity: 0.800000011920929;
          letter-spacing: -2.299999952316284;
          font-family: "Pretendard-bold";
          position:relative;

          a{
          z-index:99;
          position:relative;
          }

          .hover{
            position: absolute;
            background-color: rgba( 255, 255, 255, 0.5 );
            display:none;
            width:150%;
            height:190%;
            right: -25%;
            z-index:-1;
          }

          a:hover {
            font-weight: 900;
          }
        } /*li*/
      } /*ul:nth-child(2)*/
    } /*gnb*/
  } /*top*/
  #sub_content {
    width: 94.5054945055%;
    height: 168.7449798584px;
    margin: auto;
    @include flex(unset);
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 39.37px;
    font-family: Poppins-Bold;
    white-space: break-spaces;
    text-align: left;
  }

  .tab_menu {
    width: 41.59340659341%;
    height: 64px;
    margin: auto;
    @include flex(space-between);

    li {
      @include flex(space-between);
      font-family: "Pretendard-bold";
      background-color: transparent;
      color: rgba(255, 255, 255, 1);
      font-size: 1.25rem;
    }

    #border {
      float: right;
      width: 1px;
      height: 30%;
      background: rgba(255, 255, 255, 1);
      opacity: 0.5;
    } /*border*/
  }

  .bread_scrumb {
    width: 100%;
    height: 20px;
    margin-top: 18px;

    ul {
      width: 15.21978021978%;
      height: 100%;
      float: right;
      @include flex(space-between);

      li {
        @include flex(space-around);
        font-family: "Pretendard-Regular";
        color: #666666;

        b {
          font-weight: 900;
        } /*b*/
      } /*li*/
    } /*ul*/
  }
} /*header*/


.header_popup{
  width:100%;
  height:987px;
  position: absolute;
  top:0;
  z-index: 99;


}
