<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>회원 기능 </p>
        <p>
            <a href="/members/new">회원 가입</a>
            <a href="/members">회원목록</a>
        </p>
        <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t39.30808-6/453065768_2535336883333072_5326100366662292860_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=b04a48&_nc_ohc=aUdDxwpa198Q7kNvgEPQRtC&_nc_zt=23&_nc_ht=scontent-ssn1-1.xx&_nc_gid=AqGbQ4wJMUI05iIxwgEPTJH&oh=00_AYC0ukWaiodSO7dP-OFROEoA5uLGs8DzTCmm43mLCTR2JA&oe=679E9E92">
    </div>
</div>
</body>
</html>